@{
    ViewData["Title"] = "Profile Page";
    @model Proiect.Models.Post

}
<div class="text-center" style="border: 2px solid; border-radius: 10px; border-color: black;">
    <br />
    <img src="@ViewBag.ProfileImage" style="border-radius: 50%" width="170" height="170" />
    <p style="font-family: Arial; color: white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; font-size: 45px;">@ViewBag.ProfileUsername</p>

    @if (ViewBag.Authenticated == true && ViewBag.CurrentUser != ViewBag.Id)
    {
        <br />
        if (ViewBag.VisitorIsFriend == false)
        {
            <a class="btn btn-outline-success" href="/Profile/AddFriend/@ViewBag.Id">
                <img src="/images/addFriend.jpg" width="30" height="30">
            </a>
        }
        else
        {
            <a class="btn btn-outline-success" href="/Profile/DeleteFriend/@ViewBag.Id">
                <img src="/images/delete.jpg" width="30" height="30">
            </a>
        }
        <br />
        <br />
        <br />
    }

    @if (ViewBag.Privacy == "Public" || (ViewBag.Authenticated == true && ((ViewBag.CurrentUser == ViewBag.Id) || ViewBag.VisitorIsFriend == true || ViewBag.Role == "Admin")))
    {
        <div style="height:fit-content; overflow:hidden; display:flex; justify-content:center; flex-direction:row">
            <div class="card" style="border: 1px solid black; float: left; width: 70%; margin-left:15px">
                <div class="card-body" style="">
                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:19px; margin: 0 auto;">@ViewBag.Description</p>
                </div>
            </div>


            @if (ViewBag.Authenticated == true && ViewBag.CurrentUser == ViewBag.Id)  //ViewBag.Id is the id of the profile, ViewBag.CurrentUser is the id of the user who visits the profile
            {
                <div style="float: right; width: 30%; display: flex; flex-direction:row; justify-content:space-between; align-items:center; padding-left:15px; padding-right:15px">
                    <a class="btn btn-outline-success" href="/Profile/Edit/@ViewBag.Id">
                        <img src="/images/edit.jpg" width="30" height="30">
                    </a>

                    <br />
                    <br />

                    <a class="btn btn-outline-success" href="/Post/NewPost">
                        <img src="/images/add.jpg" width="30" height="30">
                    </a>
                </div>
            }

        </div>

        <br />
        <hr />
        <br />
        <br />


        @foreach (var post in ViewBag.Posts)           //display posts
        {
            <div class="card">
                <div class="card-body">


                    <div>
                        <h3 style="text-align:left; font-size:25px; font-weight:bold">@post[1]</h3>       <!--Post Creator Username-->
                        <!--<p class="alert-success" style="text-align:left">@post[3]</p>     -->             <!--Post Posted Date-->
                    </div>

                    <div class="card-title alert-success py-3 px-3 rounded-2" style="text-align:left; font-size:20px;">@post[2]</div>       <!--Post Body-->
                    <div style="display:flex; flex-direction:row; justify-content:end">
                        @if (ViewBag.Authenticated == true && ViewBag.CurrentUser == ViewBag.Id)  //ViewBag.Id is the id of the profile, ViewBag.CurrentUser is the id of the user who visits the profile
                        {
                            <div>
                                <a class="btn btn-outline-success" href="/Post/Edit/@post[0]">
                                    <!--post[0] is post id-->
                                    <img src="/images/edit.jpg" width="30" height="30">
                                </a>

                                <a class="btn btn-outline-success" href="/Post/Delete/@post[0]">
                                    <!--post[0] is post id-->
                                    <img src="/images/delete.jpg" width="30" height="30">
                                </a>
                            </div>
                        }
                        else if (ViewBag.Role == "Admin")
                        {
                            <a class="btn btn-outline-success" href="/Post/Delete/@post[0]">
                                <!--post[0] is post id-->
                                <img src="/images/delete.jpg" width="30" height="30">
                            </a>
                        }

                        @if (ViewBag.Authenticated == true)         // add post
                        {
                            <a class="btn btn-outline-success" href="/PostComment/NewComment/@post[0]">
                                <!--post[0] is post id-->
                                <img src="/images/add.jpg" width="30" height="30">
                            </a>

                        }
                    </div>

                    <hr />

                    <div class="comments">
                        <!--Comments-->
                        @foreach (var comment in post[4])       //post[4] is the list of comments for the given post
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>

                                    <div class="col-md-8">

                                        <div>

                                            <div>
                                                <h3 style="text-align:left; font-size:20px; font-weight:bold">@comment[1]</h3>       <!--Comment Creator Username-->
                                            </div>
                                            <div class="card-title alert-success py-3 px-3 rounded-2" style="text-align:left; font-size:15px;">@comment[2]</div>       <!--Comment Body-->

                                            <div style="display:flex; flex-direction:row; justify-content:end">
                                                @if (ViewBag.Authenticated == true && ViewBag.CurrentUser == comment[4])     //comment[4] is the comment creator id
                                                {
                                                    <a class="btn btn-outline-success" href="/PostComment/Edit/@comment[0]">
                                                        <img src="/images/edit.jpg" width="30" height="30">
                                                    </a>

                                                    <a class="btn btn-outline-success" href="/PostComment/Delete/@comment[0]">
                                                        <img src="/images/delete.jpg" width="30" height="30">
                                                    </a>
                                                }
                                                else if (ViewBag.Role == "Admin")
                                                {
                                                    <a class="btn btn-outline-success" href="/PostComment/Delete/@comment[0]">
                                                        <img src="/images/delete.jpg" width="30" height="30">
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-2"></div>

                                </div>

                            </div>

                            <hr />
                        }
                    </div>

                </div>

            </div>

            <br />
            <br />
        }
    }
    else
    {
        <h2>This profile is private!</h2>
    }


</div>